# Distribution / packaging
.python-version
Pipfile.lock
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/opentraveldata.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
